.site-header{
    background-color: $grey-color-light;
    padding: 15px 0px;
    @include outer-container;
    max-width: none;
  
    .site-title{

        @include span-columns(7 of 12);
        @include shift(1);
        color: white;
  
    }

    .page-link{

        @include span-columns(1 of 12);
        color: white;
    }

}
.bg-fade{
    background-color: rgba(0, 0, 0, 0.1);
}