.home{

    margin-top: $spacing-unit;
    font-size: $spacing-unit * 1.2;
    p{
            @include standard-wrap;
        margin-bottom: 4em;
    }
    h1{
        text-align: center;
        font-size: $base-font-size * 2.5;
        @include media-query($mamabear){
            font-size: 1.3em;     
        }
             
    }
    div{
        @include standard-wrap;
        
        @include media-query($mamabear){

            @include span-columns(12 of 12);
            @include omega;
            @include shift(0);
            
        }
    }
    .veggie-sq{
        @include span-columns(6 of 12);
        @include omega;
        font-size: $base-font-size * 1.6;
        @include media-query($mamabear){
            font-size: $base-font-size;
            @include span-columns(12 of 12);
        }
    }
}