.vegetables{
        
    h2{
        text-align: center;
    }
    @include span-columns(10 of 12);
    @include shift(1);
}
.veggie-sq {
        
        @include span-columns(6 of 12);
        @include omega;
        @include transition(all 0.2s ease-in-out);
        
        padding: 1em 0;
        color: white;
        text-align: center;
        text-decoration: none;
        font-family: $base-serif-font;
        font-size: $base-font-size * 1.6;
        
        @include media-query($mamabear){
            font-size: $base-font-size;
        }
        
        &:hover{
            text-decoration: underline;
            color: white;
        }
        &:visited{
            color:white;
        }
    }
