---
layout: default
---

<div class="home">
    <div class="bowl">{% include bowl.svg %}</div>
    {% capture home %}{% include home.md %}{% endcapture %}
    
    {{ home | markdownify }}

    {% assign vegetables = site.vegetables | sort: 'order' %}
    <div class="veg-wrap outer-desk">
        {% for vegetable in vegetables %}

        <a class="veggie-sq" style="background-color:#{{vegetable.color}};background-image:url('{{ site.baseurl }}/resources/vegetables-white/{{vegetable.illustration}}');" href="{{site.baseurl}}{{vegetable.url}}">{{vegetable.title}}</a>

        {% endfor %}
    </div>
</div>
