.site-header {
    background-color: #7EBA73;
    color: white;

    .page-link {
        float: right;
        border-radius: 4px;
        border: 1px solid;
        color: white;
        height: 36.75px;

        @include pad(0.125em 1em);

        @include transition(all 0.2s ease-in-out);

        &:hover {
            text-decoration: none;
            background-color: white;
            color: $grey-color-light;
        }
    }
}

nav {
    padding-top: 1em !important;
}

.bg-fade {
    background-color: rgba(0, 0, 0, 0.1);
}