.vegetable {
  padding-top: $spacing-unit * 2;
  @include clearfix;

  header {
    @include span-columns(7 of 12);
    @include shift(1);

    @include media-query($mamabear) {
      @include span-columns(10);
      @include shift(1);
    }

    float: none;
    color: white;

    h1 {
      font-size: 3em;
      font-weight: 400;

      @include media-query($mamabear) {
        text-align: center;
        margin-top: $spacing-unit * 0.4;
        font-size: 2em;
      }
    }
  }

  aside {
    @include span-columns(4 of 12);
    @include clearfix;
    float: right;
    margin-top: $spacing-unit * 4;

    @include media-query($mamabear) {
      float: none;
      margin-top: 0px;
      @include span-columns(12);

      img {
        display: block;
        margin: 0px auto;
        max-width: 30%;
      }
    }
  }

  .veg-overview {
    font-size: $base-font-size * 1.2;
    margin-bottom: $spacing-unit * 3;
    @include span-columns(6 of 12);
    @include shift(1);
    color: white;

    @include media-query($mamabear) {
      @include span-columns(10);
      @include shift(1);
      font-size: $base-font-size;
    }
  }

  .veg-bg {
    margin-top: $spacing-unit;
    @include span-columns(12);
    background-color: $grey-color-lightest;

    @include media-query($mamabear) {
      @include span-columns(12);
    }
  }

  .veg-bar {
    height: 310px;
    float: left;
    top: 2em;
    margin-left: 3em;
    position: relative;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 0 4px 4px 0;
    border-bottom: 1px solid gray;
    @include span-columns(1 of 12);
    @include shift(1);
  }

  .veg-details {
    @include span-columns(10 of 12);
    @include shift(1);

    @include media(min-width $mamabear) {
      @include span-columns(8 of 12);
      @include shift(2);
    }

    @include media(min-width $papabear) {
      @include span-columns(7 of 12);
      @include shift(2.5);
    }

    @include media(min-width $monsterbear) {}
  }
}