h1, h2, h3, h4, h5, h6 {
    font-family: $base-serif-font;
    font-weight: 400;
}
h1{}

h2{
    font-size: $spacing-unit * 2;
}

h3{
    font-size: $spacing-unit * 1.6;
}

h4{}

h5{}

h6{}

.center{
    text-align: center;
}