---
layout: default
---
<section class="vegetable">
    
    <aside>
    
        {% assign illustration = page.illustration %}
        {% if illustration %}
            <img alt="{{page.title}} Illustration" src="{{ site.baseurl }}/resources/vegetables/{{illustration}}" />
        {% endif %}
    
    </aside>
    
    <header>
    
        <h1>{{ page.title }}</h1>
    
    </header>

    <div class="veg-paragraph">
        
        {{ page.main }}

    </div>
    <div class="veg-wrap">

        <div class="veg-content">
    
            {{content}}
    
        </div>

    </div>
    
</section>
