---
layout: default
---
<div class="vegetable">
       <aside>

        {% assign illustration = page.illustration %}
        {% if illustration %}
            <img alt="{{page.title}} Illustration" src="{{ site.baseurl }}/resources/vegetables/{{illustration}}" />
        {% endif %}

    </aside>
    <header>
    
        <h1>{{ page.title }}</h1>
    
    </header>

    <article class="veg-paragraph">
        
        {{ page.main }}

    </article>
    <div class="veg-wrap">

        <article class="veg-content">
    
            {{content}}
    
        </article>

    </div>
    
</div>
