---
layout: default
---
<header style="background-color: #{{page.color}};" class="vegetable">
    <div class="outer veg-head">
    <div class="span-full">
        <div class="veg-head--details">
            <h3 class="color--white">{{ page.title }}</h3>
            <p>{{ page.main }}</p>
        </div>
        <aside {% assign illustration = page.illustration %}{% if illustration %}style="background-image:url('{{ site.baseurl }}/resources/vegetables-white/{{illustration}}');""{% endif %}>
            
        </aside>
        </div>
    </div>
</header>
<article class="vegetable">
    <div class="veg-bg">
        <div class="outer">
            {{content}}
            <p class="center">Icon {{page.credit}}</p>
        </div>
    </div>
</article>